<div class="container-fluid pt-1" style="background-color:#A52A2A">
    <div class="row">
    <div class="col-6">
      <a>
    <h2 class="pt-1" [routerLink]="['/']"><fa-icon [icon]="faMobile" style="color: #f5e0b4;"></fa-icon>Phone Model Store &trade;</h2>
  </a>
  </div>
  
  <div class="col-6 pb-1 d-flex justify-content-end">
    <a [routerLink]="['/cart']" 
    class="btn btn-outline-primary bg-light text-primary" style="border-color: #A52A2A">
    <fa-icon [icon]="faShoppingCart"></fa-icon>
    <span style="color:#A52A2A; font-weight: 500">Checkout</span></a>
    </div>
  </div>
  
  </div>
